# =========================
# GLOBAL
# =========================

node_modules/
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/
coverage/
.next/
out/

# Cache
.cache/
.eslintcache
*.tsbuildinfo

# Testing
.nyc_output/

# Temporary
tmp/
temp/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Docker
docker-data/
*.tar
*.gz

# Deploy
.vercel
.netlify
.pm2/